{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Nueva Edición de Curso</h2>

<div class="card shadow-sm">
<div class="card-body">

<form method="POST">

<div class="mb-3">
<label class="form-label">Curso</label>
<select name="id_curso" class="form-select" required>
<option value="">Seleccionar curso</option>
{% for c in cursos %}
<option value="{{ c.id_curso }}">{{ c.nombre_curso }}</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label class="form-label">Docente</label>
<select name="id_docente" class="form-select">
<option value="">Sin asignar</option>
{% for d in docentes %}
<option value="{{ d.id_docente }}">{{ d.apellido }} {{ d.nombre }}</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label class="form-label">Año</label>
<input type="number" name="anio" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Fecha Inicio</label>
<input type="date" name="fecha_inicio" class="form-control">
</div>

<div class="mb-3">
<label class="form-label">Fecha Fin</label>
<input type="date" name="fecha_fin" class="form-control">
</div>

<div class="mb-3">
<label class="form-label">Cupo máximo</label>
<input type="number" name="cupo_maximo" class="form-control">
</div>

<div class="d-flex justify-content-between">
<a href="/ediciones" class="btn btn-secondary">Volver</a>
<button type="submit" class="btn btn-primary">
Guardar Edición
</button>
</div>

</form>

</div>
</div>

{% endblock %}